func test%SortName%%ArrayType%(size int64, timeout time.Duration) TestResult {
	ar := hw06_sort.%ArrayType%(size)

	ctx, cancel := context.WithTimeout(context.Background(), timeout)
	defer cancel()
	result := hw06_sort.SortArray(ctx, &ar, hw06_sort.%SortName%)
	sorted := hw06_sort.IsSorted(&ar)

	log.Printf("%SortName%, %ArrayType%, Size: %v, Sort Time: %+v, Sorted: %v", size, result.Time, sorted)
	return TestResult{"%SortName%", "%ArrayType%", size, result.Time, sorted}
}
